{#
 # This file is part of the DevtimeRatingBundle package
 #
 # (c) Carlos Mafla <camafla@gmail.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% use 'form_div_layout.html.twig' %}

{% block rating_widget %}

{{ block('hidden_widget') }}

<div id="rating_number_{{id}}"></div>

<script type="text/javascript">
  $(function() {
    $('#rating_number_{{id}}').raty({
       target:   '#{{id}}',
       targetKeep: {{targetKeep}},
       targetType: '{{targetType}}',
       start: {{value ? value : '0'}}, 
       path: '{{path}}',
       number: '{{number}}',


     }); 
  });
</script>


{% endblock rating_widget %}

